@import "settings";
@import "foundation";

body {
  padding-top: 50px;
}

section {
  &:not(.top-bar-section) {
    padding: 10px 25px;
  }
}

#home {
  padding: 40px 25px;
  margin-bottom: 30px;
  text-align: center;

  .large-3 {

    .button {
      width: 100%;
    }
  }

  h1 {
    font-weight: 500;
    line-height: 1.1;

    @media #{$large-up} {
      font-size: 63px;
    }
  }

  i {
    font-size: 20px;
  }
}
