@import "settings";
@import "foundation";

section {
  &:not(.top-bar-section) {
    padding: 10px 25px;
  }
}

#home {
  background-color: #eee;
  padding: 40px 25px;
  margin-bottom: 30px;

  .large-3 {
    text-align: center;

    .button {
      width: 100%;
    }
  }
  
  h1 {
    font-weight: 500;
    line-height: 1.1;
    
    @media #{$large-up} {
      font-size: 63px;
    }
  }

  i {
    font-size: 20px;
  }
}

#about {
  
}

#projects {
  
}
